<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663495695444-2urki9oi9a23u01vrqq0q3vpti5sug9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663495695444-2urki9oi9a23u01vrqq0q3vpti5sug9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDC3cS2zeT1A3EwOPWlN-gXM9mPwuSvjvs</string>
	<key>GCM_SENDER_ID</key>
	<string>663495695444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yomak</string>
	<key>PROJECT_ID</key>
	<string>yomak-68fac</string>
	<key>STORAGE_BUCKET</key>
	<string>yomak-68fac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663495695444:ios:b92b9777610d6ece0961c1</string>
	<key>DATABASE_URL</key>
	<string>https://yomak-68fac.firebaseio.com</string>
</dict>
</plist>